<header>
  <h1>Learning angular</h1>
  <nav>
    <div class="nav">
      <h2 class="nav">Template-driven forms</h2>
      <ul class="nav">
        <li class="nav"><a routerLink="/login">Login form</a></li>
        <li class="nav"><a routerLink="/register">Register form</a></li>
      </ul>
    </div>
    <div class="nav"> 
      <h2 class="nav">Reactive forms</h2>
      <ul class="nav">
        <li class="nav"><a routerLink="/signin">Signin form</a></li>
        <li class="nav"><a routerLink="/signup">Signup form</a></li>
      </ul>
    </div>
    <div class="nav">    
      <h2 class="nav">Other links</h2>
      <ul class="nav">
        <li class="nav"><a routerLink="/">Home</a></li>
        <li class="nav"><a href="https://github.com/fcesc-code/fapac1#readme">Repo</a></li>
      </ul>
    </div>
  </nav>
</header>