<div>
  <h1>Reactive signin form</h1>
  <form [formGroup]="signinForm" (ngSubmit)="checkSignin()">
    <div>
      <label for="email">Email: </label>
      <input 
        type="email"
        [formControl]="email"
        placeholder="Your email..."
      />
      <div *ngIf="email.errors">
        <span *ngIf="email.invalid && email.dirty && email.errors?.required"
          style="color: red">
          Email required
        </span>
      </div>
    </div>
    <div>
      <label for="password">Password: </label>
      <input 
        type="password"
        [formControl]="password"
        placeholder="Your password..."
      />
      <div *ngIf="password.errors">
        <span *ngIf="password.invalid && password.dirty && password.errors?.required" 
          style="color: red">
          Password required
        </span>
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!signinForm.valid">
        Login
      </button>
    </div>
  </form>
</div>
