<div class="fullSizeForm">
  <h1>Test Driven Forms App</h1>
  <form [formGroup]="signupForm" (ngSubmit)="checkSignup()" aria-label="signup form">
    <div class="formField">
      <label for="name">Name: </label>
      <input 
        type="text"
        [formControl]="name"
        aria-required="true"
        placeholder="Your name..."
        autocomplete="name"
      />
      <div
        *ngIf="name.errors && name.dirty"
        [ngClass]="'error'"
      >
        <div *ngIf="name.errors?.required">
          Name required.
        </div>
        <div *ngIf="name.errors?.minlength">
          Name must be at least 2 characters long.
        </div>
        <div *ngIf="name.errors?.maxlength">
          Name can be max 30 characters long.
        </div>
      </div>
    </div>
    <div class="formField">
      <label for="surname1">First surname: </label>
      <input 
        type="text"
        [formControl]="surname1"
        aria-required="true"
        placeholder="Your surname..."
        autocomplete="family-name"
      />
      <div
        *ngIf="surname1.errors && surname1.dirty"
        [ngClass]="'error'"
      >
        <div *ngIf="surname1.errors?.required">
          First surname required.
        </div>
        <div *ngIf="surname1.errors?.minlength">
          First surname must be at least 2 characters long.
        </div>
        <div *ngIf="surname1.errors?.maxlength">
          First surname can be max 30 characters long.
        </div>
      </div>
    </div>
    <div class="formField">
      <label for="surname2">Second surname: </label>
      <input 
        type="text"
        [formControl]="surname2"
        placeholder="Second surname..."
        autocomplete="family-name"
      />
    </div>
    <div class="formField">
      <label for="username">Username: </label>
      <input 
        type="text"
        [formControl]="username"
        aria-required="true"
        placeholder="Your username..."
        autocomplete="off"
        minlength="5"
      />
      <div
        *ngIf="username.errors && username.dirty"
        [ngClass]="'error'"
      >
        <div *ngIf="username.errors?.required">
          Username required.
        </div>
        <div *ngIf="username.errors?.minlength">
          Username must be at least 5 characters long.
        </div>
      </div>
    </div>
    <div class="formField">
      <label for="dateOfBirth">Date of birth: </label>
      <input 
        type="date"
        [formControl]="dateOfBirth"
        aria-required="true"
        autocomplete="bday"
      />
      <div
        *ngIf="dateOfBirth.errors && dateOfBirth.dirty"
        [ngClass]="'error'"
      >
        <div *ngIf="dateOfBirth.errors?.required">
          Date of birth required.
        </div>
      </div>
    </div>
    <div class="formField">
      <label for="email">Email: </label>
      <input 
        type="email"
        [formControl]="email"
        aria-required="true"
        placeholder="Your email..."
        autocomplete="email"
      />
      <span [hidden]="email.untouched || email.pristine || email.valid" style="color: red">
        Incorrect mail format
      </span>
    </div>
    <div class="formField">
      <label for="password">Password: </label>
      <input 
        type="password"
        [formControl]="password"
        aria-required="true"
        placeholder="Your password..."
        autocomplete="new-password"
      />
      <div
        *ngIf="password.errors && password.dirty"
        [ngClass]="'error'"
      >
        <div *ngIf="password.errors?.required">
          Password required.
        </div>
        <div *ngIf="password.errors?.minlength">
          Password must have at least 6 characters.
        </div>
        <div *ngIf="password.errors?.hasNotNumbers">
          Password must include at least 1 digit.
        </div>
        <div *ngIf="password.errors?.hasNotUpperCase">
          Password must include at least 1 capital letter.
        </div>
        <div *ngIf="password.errors?.hasNotLowerCase">
          Password must include at least 1 lowercase letter.
        </div>
        <div *ngIf="password.errors?.hasNotSpecialCharacter">
          Password must include at least 1 of the following special characters: 
          . : , ; / \ | ¡ ! ¿ ? + - * = % _ # ~ @ ^ &apos; &quot; ´ ` &#123; &#125; &#91; &#93; ( ) &lt; &gt; &amp; º ª € $ &#163; &#165;.
        </div>
      </div>
    </div>
    <div class="formField">
      <label for="confirmPassword">Confirm password: </label>
      <input 
        type="password"
        [formControl]="confirmPassword"
        aria-required="true"
        placeholder="Confirm password..."
        autocomplete="new-password"
      />
      <span [hidden]="password.value === confirmPassword.value" style="color: red">
        Passowrds do not match!
      </span>
    </div>
    <div>
      <button type="submit" aria-label="send signup form">
        Sign up
      </button>
    </div>
  </form>
</div>